
$textsize: 3vh;
$textsize_mobile: 2vh;
$purple-bright2 : #f8bcec;
$grey2 :  rgb(77, 77, 77);

* {
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header{
    background-color: $grey2;
}
.nav{
    background-color: $grey2;
    width: 100%;
   
   
    box-sizing: border-box;
}
.navbar {
    margin-top: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    position: fixed;
    padding: 0;
    height: 10vh;;
    width: 100%;
    background-color: $grey2;
   

    
    

    li {
        display: inline-block;
        margin: 1vh;
        
        
    }

    li a {
        display: block;
        text-decoration: none;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 2.5vh;
        margin-top: 2vh;
       
    }

    li a:hover {
        background-color: purple;
        color: white;
    }
}

.navbar:hover {
    transform: scale(1.1);
    transition: transform 2s ease;
}





.banner {

    height: 100vh;
    background-color: $purple-bright2;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-width: 0;
    margin-bottom: 20vh;
    

    h1 {
        color: $grey2;
        font-size: 7vh;
    }


    

       
        img{
            width: 15vw;
            height: auto;
        }
       

}


@media screen and (max-width: 600px) {
    .banner{
        height: 100vh;
        img{
            width: 30vw;
            height: auto;
        }
    }
    .about{
        article{
            p{
                font-size: $textsize_mobile;
            
            }
        }
        img{
            width: 30vw;
            height: auto;
            border-radius: 1rem;
        }
    }
    .talk{
        background-color: $purple-bright2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin : 5vh;
        border-radius: 5px;
        color: $grey2;
        h1{
            display: flex;
            justify-content: center;
            font-family: 'Roboto', sans-serif;
            font-size: 5vh;
        }
        article{
    
            
            margin: 2vh;
            font-family: 'Roboto', sans-serif;
            
            padding: 1vh;
            p{
                font-size: $textsize_mobile;
            }
            img{
                width: 30vw;
                height: auto;
                float: center;
        
            }
    
        }

        
    
    }
}

body{
    background-color: $grey2;
    margin: 0;
    justify-content: center;
    
}

.about{
    margin-top: 30vh;
    padding-top: 3vh;
    h1{
        font-size: 5vh;
        color: $grey2;
        margin-top: 5vh;
        display: flex;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
    }

}

.section1{
    margin-top: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 5vh;
    height: 150vh;
    
    background-color: $purple-bright2;
    border-radius: 5px;
    
    


    article{
        color: $grey2;
        font-family: 'Roboto', sans-serif;
        font-size: $textsize;
        margin: 5vh;
        text-justify: inter-word;
        line-height: 1.6;
    }
}
.section1:hover {
    transform: scale(1.05);
    transition: transform 1s ease;
    
}


.progress-container {
    padding-top: 6vh;
    margin-top: 50%;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    

}

.talk{
    background-color: $purple-bright2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin : 5vh;
    border-radius: 5px;
    color: $grey2;
    h1{
        display: flex;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        font-size: 5vh;
    }
    article{
            
        margin: 2vh;
        font-family: 'Roboto', sans-serif;
        font-size: 10vh;
        padding: 1vh;
        p{
            font-size: $textsize;
        }
        img{
            width: 20vw;
            height: auto;
            float: center;
    
        }

    }
    

}

@mixin progressbar($class1, $class2, $class3, $percentage, $animation, $class4) {
    .#{$class1}, .#{$class2} {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .#{$class2}{
        background-color: $purple-bright2;
        border-radius: 3rem;
        p{
            font-size: 2vh;
            font-family: 'Roboto', sans-serif;
            color: $grey2;
        }

    }

    .#{$class4} {
        width: 100%;
  
        h3{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 5vh;
            font-family: 'Roboto', sans-serif;
            color: $purple-bright2;
        }
 
    }



    @keyframes #{$animation} {
        0% {
            width: 0;
        }
        100% {
            width: #{$percentage};
        }   
    }

    .#{$class2}.#{$class3} {
        animation: #{$animation} 2s ease forwards;
    }
}

@include progressbar('Rust', 'progress-bar', 'in-view', '40%', 'bam1', "text");
@include progressbar('Rust1', 'progress-bar1', 'in-view', '30%', 'bim2', "text1");
@include progressbar('Rust2', 'progress-bar2', 'in-view', '20%', 'bom3', "text2" );
@include progressbar('Rust3', 'progress-bar3', 'in-view', '40%', 'bam4', "text3");
@include progressbar('Rust4', 'progress-bar4', 'in-view', '30%', 'bim5', "text4");
@include progressbar('Rust5', 'progress-bar5', 'in-view', '20%', 'bom6', "text5" );
@include progressbar('Rust6', 'progress-bar6', 'in-view', '30%', 'bim7', "text4");
@include progressbar('Rust7', 'progress-bar7', 'in-view', '20%', 'bom8', "text5" );





footer {
   
    margin-top: 100vh;
    display: flex;
    flex-direction: column;
   
    
    text-align: center;

    .contact {
        background-color: $purple-bright2;
        height: 90vh;
        font-size: 2vh;
        padding-top: 11vh;
        display: flex;
        flex-direction: column;
        margin-top: 10vh;


        h1 {
            margin-top: 5vh;
            font-size: 5vh;
            color: $grey2;
            font-family: 'Roboto', sans-serif;

        }

        li {
            list-style: none;
            display: flex;
            flex-direction: column;

            a {
                margin-top: 2vh;
                color: $grey2;
                font-family: 'Roboto', sans-serif;
                text-decoration: none;
                &:hover {
                    scale: 1.1;
                }
            
            }
            img{
                width: auto;
                height: 10vh;
            }
        }
    }
}